.doctor-item,
.location-item,
.location-card-list-container {
    dl {
        line-height: $nav-line-height;

        &:last-child {
            margin-bottom: 0;
        }

        dt {
            margin: 1em 0 0;

            &:first-child {
                margin-top: 0;
            }
        }
        dd {
            margin: 0.5em 0 0;
        }
    }


}

.doctor-info {

    > .row {
        justify-content: center;

        @include media-breakpoint-up(xs) {
            flex-wrap: nowrap;
        }
    }
    .text {
        @include media-breakpoint-up(xs) {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
        }
        max-width: 44rem;
    }
    .image {
        background-color: $gray-400;
        text-align: center;

        @include media-breakpoint-up(xs) {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: (86px + ($onerem * 2));
            background-color: transparent;
            text-align: left;
        }

        @include media-breakpoint-up(sm) {
            flex-basis: (182px + ($onerem * 4));
        }

        @include media-breakpoint-up(md) {
            flex-basis: (306px + ($onerem * 4));
        }

        @include media-breakpoint-up(lg) {
            flex-basis: (389px + ($onerem * 4));
        }

        img {
            @include media-breakpoint-up(xs) {
                max-width: 100%;
            }
        }
    }

    .page-title {
        width: auto;
        text-align: left;
        margin: 0 0 $font-size-base !important;
        padding-bottom: $font-size-base;
        border-bottom: 1px solid $gray-accent;
    }
}

.ratings-and-reviews {
    .overall-ratings {
        margin: 0 auto;
        margin-bottom: map-get($spacers, 8); // equivalent of @extend .mb-8
        text-align: center;
        width: 33em;
        max-width: 100%;

        @include media-breakpoint-up(xs) {
            margin-bottom: map-get($spacers, 10); // equivalent of @extend .mb-xs-10
        }

        .rating {
            justify-content: center;
        }

        .card-footer {
            padding-top: $card-spacer-x;
            padding-bottom: $card-spacer-x;
            p {
                &:first-child {
                    margin-bottom: 0.5em;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    //.card-list {
        //.card {
            //.card-body {
                //align-items: stretch;
            //}
        //}
    //}
}

.academic-info,
.research-info {

    .content-split {
        &-lg {
            @include media-breakpoint-up(lg) {
                flex-wrap: nowrap;
            }

            > [class^="col-lg-"],
            > [class*=" col-lg-"] {
                &:first-child {
                    @include media-breakpoint-up(lg) {
                        width: auto;
                        flex-grow: 0;
                        flex-shrink: 0;
                        flex-basis: auto;
                        margin-left: auto;
                    }
                }
                &:last-child {
                    @include media-breakpoint-up(lg) {
                        width: auto;
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: auto;
                        margin-right: auto;
                    }

                    .content-width {
                        @include media-breakpoint-up(lg) {
                            width: 21em; // adjust to account for potential contents of these sections
                        }
                    }
                }
            }
        }
    }
}