.location-alert {
    a {
        color: inherit;
    }

    p,
    ul,
    ol,
    ul li,
    ol li {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.bg-white {
    .location-alert {
        a:not(.btn) {
            color: inherit;
        }
    }
}
