.single-location {
	.page-title {
		.subtitle {
			font-size: $single-profile-subtitle-small;
		}
	}
	dl.hours {
		@include media-breakpoint-up(xs) {
			display: grid;
			grid-template-columns: 5.8125em auto;
			row-gap: 1em;
			column-gap: $grid-gutter-width;
		}

		dt, dd {
			@include media-breakpoint-up(xs) {
				margin:0;
				padding:0;
			}
		}

		dd {
			@include media-breakpoint-up(xs) {
				grid-column-start: 2;
			}
		}
	}
}

.location-info {

	> .row {
		justify-content: center;
	}

	.text, .image {
		@include media-breakpoint-up(md) {
			//max-width: 44rem;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0px;
		}

		.content-width {
			@include media-breakpoint-up(md) {
				width: auto;
				max-width: $content-width;
			}
		}
	}
	.text {
		padding: map-get($spacers, 8) !important; // equivalent of @extend .p-8

		@include media-breakpoint-up(sm) {
			padding: map-get($spacers, 10) !important; // equivalent of @extend .p-sm-10
		}

		@include media-breakpoint-up(md) {
			padding: map-get($spacers, 0) map-get($spacers, 8) !important; // equivalent of @extend .px-md-8 and @extend .py-md-0;
		}
		order: 2;

		.content-width {
			@include media-breakpoint-up(md) {
				margin-left: 0;
			}
		}

		&:first-child:last-child {
			order: 0;

			.content-width {
				@include media-breakpoint-up(md) {
					margin-left: auto;
				}
			}
		}
	}
	.image {
		padding-right: 0 !important; // equivalent of @extend .px-md-8
		padding-left: 0 !important; // equivalent of @extend .px-md-8
		order: 1;
		text-align: center;

		@include media-breakpoint-up(md) {
			padding-right: map-get($spacers, 8) !important; // equivalent of @extend .px-md-8
			padding-left: map-get($spacers, 8) !important; // equivalent of @extend .px-md-8
			text-align: left;
		}

		.content-width {
			width: auto;
			max-width: 100%;

			@include media-breakpoint-up(md) {
				margin-right: 0;
				max-width: $content-width;
			}
		}
		.single-image {
			width: 100%;
		}
		.carousel {
			.carousel-item {
				img {
					display: block;
					width: 100%;
				}
			}

			.carousel-indicators {
				// Use the .carousel-control's width as horizontal margin so we don't overlay those
				padding: $spacer-min $carousel-control-width;
				margin: 0;

				li {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 $carousel-indicator-spacer;
					width: $carousel-indicator-width;
					flex-grow: 0;
					flex-shrink: 0;
					flex-basis: $carousel-indicator-width;
					height: $carousel-indicator-width;
					background-color: transparent;
					// Use transparent borders to increase the hit area by 10px on top and bottom.
					border-top: 0;
					border-bottom: 0;

					&:before {
						content: "";
						display: block;
						width: 100%;
						height: $carousel-indicator-height;
						background-color: $carousel-indicator-active-bg;
						box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
					}
				}
			}

			&.carousel-thumbnails {
				.carousel-control-next,
				.carousel-control-prev {
					bottom: 73px;
				}

				.carousel-indicators {
					@include media-breakpoint-up(md) {
						position: static;
						top: auto;
						right: auto;
						bottom: auto;
						left: auto;
						padding: $spacer-min 0;
					}

					li {
						@include media-breakpoint-up(md) {
							height: auto;
							flex-basis: 60px;
							padding: 2px;
							background-color: transparent;
							border: 2px solid transparent;
							opacity: 1;
						}

						&.active {
							@include media-breakpoint-up(md) {
								border-color: $primary;
								opacity: 1;
							}
						}

						&:before {
							@include media-breakpoint-up(md) {
								content: none;
							}
						}

						img {
							display: none;

							@include media-breakpoint-up(md) {
								display: block;
								width: 100%;
								max-width: 100%;
								height: 45px;
								overflow: hidden;
								display: block;
							}
						}
					}
				}
			}
		}
	}

	.page-title {
		width: auto;
		text-align: left;
		margin: 0 0 $font-size-base !important;
		padding-bottom: $font-size-base;
		border-bottom: 1px solid $gray-accent;
	}
}

.location-alert {
	border-top: $alert-border-width solid transparent;
	border-bottom: $alert-border-width solid transparent;
}

@each $color, $value in $theme-colors {
	.location-alert-#{$color} {
		@include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
	}
}

.location-directions {
	.map {

		@include media-breakpoint-up(xl) {
			display: flex;
		}

		.embed-responsive {
			max-height: 100vh;
			&:before {
				//padding-top: 56.25%;

				@include media-breakpoint-up(md) {
					padding-top: 100%;
				}

				@include media-breakpoint-up(xl) {
					padding-top: 56.25%;
				}
			}
		}
	}

	.text {
		align-self: center;

		.module-body {
			@include media-breakpoint-up(md) {
				//margin-right: 0;
				//margin-left: 0;
			}
		}
	}
}

.parking-map-container {
	margin-top: $uams-module-padding-mobile;

	@include media-breakpoint-up(sm) {
		margin-top: $uams-module-padding;
	}

	@include media-breakpoint-up(md) {
		margin-top: 0;
	}
}