.mychart-scheduling-module {
    .module-body {
        width: 700px;
    }

    .mychart-scheduling {
        &:not(:empty) {
            margin-top: $uams-module-padding-mobile;

            @include media-breakpoint-up(sm) {
                margin-top: $uams-module-padding;
            }
        }
    }
}