$single-profile-subtitle-small: 0.5em;

// MyChart Open Scheduling Widget
$mychart-widget-width: 700px; // native width of Open Scheduling widget in desktop mode
$mychart-widget-height: 500px;
$mychart-widget-border-width: 0;
$mychart-widget-border-style: solid;
$mychart-widget-border-color: #ccc;